@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "poppins";
  font-weight: 300;
  src: url("./fonts/Poppins/Poppins-Light.ttf");
}

@font-face {
  font-family: "poppins";
  font-weight: 400;
  src: url("./fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "poppins";
  font-weight: 500;
  src: url("./fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: "poppins";
  font-weight: 600;
  src: url("./fonts/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "poppins";
  font-weight: 700;
  src: url("./fonts/Poppins/Poppins-Bold.ttf");
}

@layer base {
  :root {
    --radius: 0.5rem;
    /* 
    --background: 240 21 14;
    --foreground: 240 6.77% 26.08%;

    --accent: 14 71% 40%;

    --accent-text: 159 10% 97.5%;
    --foreground-text: 159 10% 97.5%;

    --foreground-hover: 240 7.51% 33.92%;

    --selected: 159 10% 97.5%; */

    /* 
    --primary: 159 100% 50%;
    --primary-foreground: 159 10% 5%;

    --muted: 159 50% 15%;
    --muted-foreground: 159 10% 55%;

    --popover: 159 45% 6.5%;
    --popover-foreground: 159 10% 97.5%;

    --card: 159 45% 6.5%;
    --card-foreground: 159 10% 97.5%;

    --border: 159 50% 15%;
    --input: 159 50% 15%;

    --secondary: 159 50% 15%;
    --secondary-foreground: 159 10% 97.5%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 159 10% 97.5%;

    --ring: 159 100% 50%; */
  }
}
/* @layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-main-bg;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
} */
